- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.png")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title ourlove
    link(href="/public/css/app.b98593f701443261a7672fd8f84d503a.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.87d8fdcc5a8a6f28ae8c.js")
    script(type="text/javascript" src="/public/js/vendor.2bc7a47eac605ac0b378.js")
    script(type="text/javascript" src="/public/js/app.c27ea486052623fbb5c7.js")