- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.png")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title ourlove
    link(href="/public/css/app.42d792622d79033f6668d3b23c30f4ad.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.35919e7a0f7c0f87d8db.js")
    script(type="text/javascript" src="/public/js/vendor.b9e8420731305abe01dd.js")
    script(type="text/javascript" src="/public/js/app.461ac98e8862f7255bad.js")