- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.png")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title ourlove
    link(href="/public/css/app.06d6184ad7016e46658bd2283fd37eb7.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.db581fd7c35328916176.js")
    script(type="text/javascript" src="/public/js/vendor.416a78028d0326315cb3.js")
    script(type="text/javascript" src="/public/js/app.2628fb2aedad9e9427c1.js")