$xtra_dark_color: #410015;
$dark_color:      #740037;
$main_color:      #b72168;
$secondary_color: #21b729;
$tertiary_color:  #b2b721;
$light_color:     #f5f5f5;
$gray:            #b0b0b0;
$light_gray:      #f5f5f5;

@font-face {
  font-family: esphimere;
  src: url(/public/fonts/Esphimere.otf);
}

@font-face {
  font-family: esphimere_bold;
  src: url(/public/fonts/Esphimere_Bold.otf);
}

body {
  font-family: "esphimere" !important;
  border-top: 6px solid $main_color;
}

a {
  color: $main_color !important;

  &.gray {
    color: $gray !important;
  }
}

.clicker {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.row.no-gutters > * {
  padding-left: 0px;
  padding-right: 0px;
}

.row.sm-gutters > * {
  padding-left: 5px;
  padding-right: 5px;
}

#app {
  color: $main_color;
}

.dark {
  color: $dark_color;
}

.list-group-item.active {
  background: $main_color !important;
  border-color: $dark_color;

  a {
    color: white !important;
  }
}

.dark-gradient {
  background: linear-gradient(45deg, $dark_color, $xtra_dark_color);
  color: #ffffff;
}

.dark-gradient-reverse {
  background: linear-gradient(45deg, $xtra_dark_color, $dark_color);
  color: #ffffff;
}

.gray {
  color: $gray;
}

.gray-bg {
  background: $light_gray;
}

.btn-ourlove {
  background: $main_color !important;
  color: #ffffff !important;
}

.btn-ourlove-dark {
  background: $dark_color !important;
  color: #ffffff !important;
}

.top-nav-container {
  border-bottom: 2px solid $main_color;
  color: #ffffff;
  padding: 2px;

  a {
    color: #ffffff !important;
  }

  .navbar-inverse {
    .navbar-toggler {
      border-color: $light_color;
    }
  }
}

.text-small {
  font-size: 0.75rem;
}

.padding-sm {
  padding: 5px;
}

.padding-md {
  padding: 15px;
}

.padding-lg {
  padding: 25px;
}

.padding-right-sm {
  padding-right: 5px;
}

.padding-vertical-lg {
  padding: 25px 0px;
}

.padding-vertical-xlg {
  padding: 50px 0px;
}

.margin-sm {
  margin: 5px;
}

.margin-md {
  margin: 15px;
}

.margin-lg {
  margin: 25px;
}

.margin-left-sm {
  margin-left: 5px;
}

.margin-left-md {
  margin-left: 15px;
}

.margin-right-sm {
  margin-right: 5px;
}

.margin-vertical-md {
  margin: 15px 0px;
}

.margin-vertical-lg {
  margin: 25px 0px;
}

.margin-vertical-xlg {
  margin: 50px 0px;
}

.margin-bottom-sm {
  margin-bottom: 5px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-lg {
  margin-bottom: 25px;
}

.margin-top-sm {
  margin-top: 5px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-lg {
  margin-top: 25px;
}

.margin-top-xlg {
  margin-top: 50px;
}

.border-left-sm {
  border-left: 1px solid $light_color;
}

.table-inverse {
  background: $dark_color !important;
}

.table.thin {
  td {
    padding: 2px !important;
  }
}

.card.dark {
  border-color: $dark_color;
}

.card {
  &.thick {
    border-width: 3px;
  }

  &.thick-2x {
    border-width: 5px;
  }

  &.card-sm-padding {
    .card-block {
      padding: 5px;
    }
  }
}

.img-thumbnail {
  &.dark-border {
    border-color: $dark_color;
  }

  &.border-only {
    padding: 0px;
  }
}

.force-circle {
  overflow: hidden;
  border-radius: 50%;

  &.w-20 {
    width: 20px;
    height: 20px;

    img.landscape {
      height: 20px;
      margin-left: -5px;
    }
  }

  &.w-40 {
    width: 40px;
    height: 40px;

    img.landscape {
      height: 40px;
      margin-left: -10px;
    }
  }

  &.w-60 {
    width: 60px;
    height: 60px;

    img.landscape {
      height: 60px;
      margin-left: -15px;
    }
  }

  &.w-80 {
    width: 80px;
    height: 80px;

    img.landscape {
      height: 80px;
      margin-left: -20px;
    }
  }

  &.width-100 {
    width: 100px;
    height: 100px;

    img.landscape {
      height: 100px;
      margin-left: -25px;
    }
  }

  &.w-160 {
    width: 160px;
    height: 160px;

    img.landscape {
      height: 160px;
      margin-left: -40px;
    }
  }

  &.w-200 {
    width: 200px;
    height: 200px;

    img.landscape {
      height: 200px;
      margin-left: -50px;
    }
  }

  &.w-300 {
    width: 300px;
    height: 300px;

    img.landscape {
      height: 300px;
      margin-left: -75px;
    }
  }

  &.w-400 {
    width: 400px;
    height: 400px;

    img.landscape {
      height: 400px;
      margin-left: -100px;
    }
  }

  img {
    width: auto;
    height: 100%;

    &.landscape {
      width: auto;
      height: 100%;
    }

    &.portrait {
      width: 100%;
      height: auto;
    }
  }
}
