$dark_color:      #740037;
$main_color:      #b72168;
$secondary_color: #f5f5f5;
$tertiary_color:  #e0ea50;

@font-face {
  font-family: esphimere;
  src: url(/public/fonts/Esphimere.otf);
}

body {
  font-family: "esphimere" !important;
  border-top: 6px solid $main_color;
}

a {
  color: $main_color !important;
}

#app {
  color: $main_color;
}

.btn-ourlove {
  background: $main_color !important;
  color: #ffffff !important;
}

.btn-ourlove-dark {
  background: $dark_color !important;
  color: #ffffff !important;
}

.top-nav-container {
  background: $dark_color;
  border-bottom: 2px solid $main_color;
  color: #ffffff;
  padding: 2px;
  margin-bottom: 6px;

  a {
    color: #ffffff !important;
  }

  .navbar-inverse {
    .navbar-toggler {
      border-color: $secondary_color;
    }
  }
}

.text-small {
  font-size: 0.75rem;
}

.padding-sm {
  padding: 5px;
}

.padding-md {
  padding: 15px;
}

.padding-lg {
  padding: 25px;
}

.padding-right-sm {
  padding-right: 5px;
}

.margin-left-sm {
  margin-left: 5px;
}

.margin-left-md {
  margin-left: 15px;
}

.margin-right-sm {
  margin-right: 5px;
}

.margin-vertical-md {
  margin: 15px 0px
}

.margin-vertical-lg {
  margin: 25px 0px
}

.margin-vertical-xlg {
  margin: 50px 0px
}
