- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.png")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title ourlove
    link(href="/public/css/app.c25a86b18f1fcdbb84974902a20dca35.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.b5569e9dd28a166ffbc1.js")
    script(type="text/javascript" src="/public/js/vendor.74bc02ff685d2bb73d0a.js")
    script(type="text/javascript" src="/public/js/app.d770fd2f728d3bfd0ca8.js")