- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.png")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title ourlove
    link(href="/public/css/app.e9408921da92bffee5941dbe3ae9c5f5.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.022150f0d0f0bb0f85a2.js")
    script(type="text/javascript" src="/public/js/vendor.c26b4f59998d5fbced62.js")
    script(type="text/javascript" src="/public/js/app.39d807f159174dcb6dc0.js")